
.contact-container{
    width: 80%;
    margin: 0 auto 5vh auto;
}

.contact-image{
    background: url('../img/contact.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.contact-title{
    font-size: 70px;
    margin-left: -15%;
}

.input-contact{
    margin: 4vh 0 0 1vw;
    border-top: 0 ;
    border-left: 0 ;
    border-right: 0 ;
    border-bottom: 2px solid black;
    font-size: 1rem;
}

.newsletter-contact{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 17px;
    font-weight: 600;
}

.input-contact::placeholder{
    font-size: 20px;
    color: gray;
    margin-left: -10px;
    font-size: 1.2rem;
}

.checkbox-contact-container{
    border-bottom: none;
}

.input-contact:focus{
    outline: none;
}

.checkbox-newsletter-contact{
    margin: 5px 10px 5px 0;
}

.submit-button-contact{
    margin-top: 7vh;
}

.submit-button-contact span{
    color: #b6dbcf;
    font-size: 50px;
}

.form-contact{
    width: 80%;
    margin: 0 auto;
}

.formulaire-container{
    margin-top: 19vh;
}
/* mobile */

.contact-title-mobile{
    display: none;
}

/* ----------------------- Responsive */


@media (max-width: 1153px){

    .contact-title{
        font-size: 60px;
    }
    

}

@media (max-width: 991px){

    .contact-container{
        width: 100%;
        margin: 0 auto 5vh auto;
    }

    .contact-image {
        background: url(../img/contact.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 24vh;
    }

    .formulaire-container {
        margin-top: 5vh;
    }

    .contact-title {
        font-size: 70px;
        width: fit-content;
        margin: 0 auto
    }
    
    .contact-title-laptop{
        display: none;
    }

    .contact-title-mobile{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}


@media (max-width: 786px){
    .contact-title{
        font-size: 7vw;
    }
}

